XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persons">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="surname"/>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="city">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="districtNumber">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="districtName"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="number" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="index" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="username" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="CDATA-ELEMENT-SAMPLE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>